<h1>Browse Content</h1>
<div class='nav_bar'>
  <p class='page_nav'><%= link_to "See All Activities", activities_path %></p>
  <p class='page_nav'><%= link_to "To the Posts Page!", posts_path %></p>
  <p class='page_nav'><%= link_to "Create a New Activity", new_activity_path %></p>
</div>

<ul>
  <% @tags.each do |tag| %>
    <li class='tag'>
      <%= link_to tag.name, tag_path(tag) %>
    </li>
  <% end %>
</ul>

<!-- Need to: make this the functional homepage
Need to improve show page so that other tags stay in the same place -->