<h1>All Posts</h1>
<p class='page_nav'><%= link_to "Back to the Home Page!", activities_path %></p>
<p class='new_post'><%= link_to "Create a New Post", new_post_path %></p>
<ul>
  <% @posts.each do |post| %>
    <li class='post'>
      <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>