/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1, .new_activity, .form, .new_post, .page_nav{
    text-align: center;
    color: blue;
 }

 .tag_list, .tag {
    padding: 10px;
 }

 .new_activity, .new_post {
    margin-bottom: 120px;
 }

 .page_nav, .new_activity, .new_post {
    display: inline-block;
    margin-right: 20px;
 }

 .nav_bar {
    text-align: center;
 }

 .activity {
    padding: 100px;
    display: inline-block;
    justify-content: center;
    text-align: center; 
    background-color: rgb(0, 255, 255);
 }
