<h1>All Activities</h1>
<p class='new_activity'><%= link_to "Create a New Activity", new_activity_path %></p>
<ul>
  <% @activities.each do |activity| %>
    <li class='activity'>
      <%= link_to activity.title, activity_path(activity) %>
    </li>
  <% end %>
</ul>
