<h1>All Activities</h1>
<div class='nav_bar'>
  <p class='page_nav'><%= link_to "To the Home Page!", tags_path %></p>
  <p class='page_nav'><%= link_to "To the Posts Page!", posts_path %></p>
  <p class='page_nav'><%= link_to "Create a New Activity", new_activity_path %></p>
</div>
<ul>
  <% @activities.each do |activity| %>
    <li class='activity'>
      <%= link_to activity.title, activity_path(activity) %>
    </li>
  <% end %>
</ul>
